.footer {
  width: 1140px;
  margin: 60px auto 30px;
  display: flex;
  align-items: center;
}

.footer__text {
  font-size: 24px;
  line-height: 18px;
  color: rgba(47, 72, 88, 0.5);
}

@media screen and (max-width: 1279px) {
  .footer {
    width: calc(100% - 60px);
    margin-top: 40px;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    width: calc(100% - 38px);
  }
}